*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



    /* Error : All the fields are mandatory */
    #error{
 
        width: 26rem;
        height: 1.81rem;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 300;
        font-size: 1.5rem;
        stroke-width: 0.06rem;
        padding-bottom: 0;
        line-height: 29px;
        color: #FF4F4F;     
        margin-top: 2.87rem;
         
        }
        
        .success{
            width: 26rem;
            height: 1.81rem;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 300;
            font-size: 1.5rem;
            stroke-width: 0.06rem;
            line-height: 29px;
            color: green;     
            margin-top: 0.94rem;
          
            
        }
        
        #signup-form{
            display: flex;
            flex-direction: column;
            /* border: 1px solid blue; */
            width: 73.56rem;
            height: 24.19rem;
            font-size: 4rem;
            stroke-width: 4.81rem;
            margin-top: -4rem;
        
        }
        
        /* Group 8 */
        .form-wrapper{
        
             
            width: 73.56rem;
            /* height: 39.44rem; */
            /* height: 100vh; */
            margin-left: 8rem;
            margin-top: 3.2rem;
              
        }
        
        .signup-txt{
             
        width: 37.5rem;
        height: 9rem;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 4rem;
        line-height: 4.81rem;
        color: #FFFFFF;
        }
        
        input{
        background-color: #000000;
        color: #FFFFFF;
        width: 73.56rem;
        font-size: 1.5rem;
        line-height: 1.81rem;
        border-bottom: 1px solid #FFFFFF;
        stroke-width: 0.06rem;
        /* transform: rotate(-0.1deg); */
        font-family: 'Inter';
        font-style: normal;
        font-weight: 300;
        padding-top: 1.75rem;
        padding-bottom: 0.94rem;
         
        
        }
        input:focus{
            outline: none;
        }
        
         /* .form-group{
             display: flex;
             flex-direction: column;
             width: 1177px;
             height: 387px;
          
        
         } */
        
         #signup-btn{
        width: 14.3rem;
        height: 3.63rem;
         font-family: 'Inter';
        font-style: normal;
        font-weight: 300;
        font-size: 1.5rem;
        line-height: 1.81px;
        padding: 0.75rem 4.81rem 0.81rem 4.25;
        background-color: white;
        
        color: #000000;
        
         margin-top: 2.88rem;  
         }
        